

<section id="bowl" class="p-3 bg-gray-900 rounded-lg">
<div class="flex gap-1 items-start">
  <h2 class="text-xl">Items</h2>
  <%= if not Enum.empty?(@items) do %>
    <span class="text-sm">{length(@items)}</span>
  <% end %>
  </div>

  <%= if not Enum.empty?(@items) do %>
    <ul class="flex gap-2 flex-wrap py-2">
    <%= for item <- @items do %>
      <li class="px-4 py-2 bg-blue-400/20 rounded-full">
        <p>
          <span class={cn(["font-medium"])}>
            <%= item.name %>
          </span>
        </p>
      </li>
    <% end %>
    </ul>
  <% else %>
    <p class="py-2 flex justify-center">No Items yet</p>
  <% end %>

  <form phx-submit="add_game_item" class="flex flex-col gap-2 w-full">
    <div class="flex flex-col gap-1">
      <input id="game_id" name="game_id" type="hidden" value={@game_id} />
      <input id="player_id" name="player_id" type="hidden" value={@user.id} />
      <label for="item_name" class="text-sm">Enter a thing</label>
      <div class="flex gap-2">
        <input id="item_name" name="item_name" type="text" autocomplete="off" class="w-3/4 rounded bg-gray-800" />
        <button class="w-1/4 px-3 py-3 rounded-md font-semibold bg-blue-600 text-blue-50 hover:bg-blue-700">Submit</button>
      </div>
    </div>
  </form>
</section>

<section id="players" class="mt-6 p-3 bg-gray-900 rounded-lg ">
  <div>
    <h2 class="text-xl pb-2">Players</h2>
    <ul class="flex gap-2">
    <%= if not Enum.empty?(@users) do %>
      <%= for user <- @users do %>
      <% is_current = user.id == @user.id %>
        <li class="px-4 py-2 bg-blue-400/20 rounded-full">
          <p>
            <span class={cn([is_current  && "font-bold", is_current && "text-green-400"])}>
              <%= user.name %>
            </span>
          </p>
        </li>
      <% end %>
    <% else %>
      <li>No players</li>
    <% end %>
    </ul>
  </div>

  <nav id="actions" class="flex flex-col gap-4 items-center mt-6">
    <form phx-submit="set_player_name" class="flex flex-col gap-2 w-full">
      <div class="flex flex-col gap-1">
        <input id="game_id" name="game_id" type="hidden" value={@game_id} />
        <input id="player_id" name="player_id" type="hidden" value={@user.id} />
        <label for="player_name" class="text-sm">Enter your name</label>
        <div class="flex gap-2">
          <input id="player_name" name="player_name" type="text" autocomplete="off" class="w-3/4 rounded bg-gray-800" />
          <button class="w-1/4 px-3 py-3 rounded-md font-semibold bg-blue-600 text-blue-50 hover:bg-blue-700">Submit</button>
        </div>
      </div>
    </form>

    <div>
    <button class="px-5 py-3 rounded-md font-semibold bg-green-600 text-green-50 hover:bg-green-700">Start Game</button>
    </div>
  </nav>

  <section id="game_code">
    <h3>Game Code</h3>
    <span>{@game_id}</span>
    <button>Copy Link</button>
  </section>
</section>
