<section id="players" class="p-3 bg-gray-900 rounded-lg">
  <div>
    <h2 class="text-xl pb-2">Players</h2>
    <ul>
    <%= if not Enum.empty?(@users) do %>
      <%= for user <- @users do %>
      <% is_current = user.id == @user.id %>
        <li class="border-t py-2">
          <p>
            <span class={class(["font-bold", is_current && "text-green-400"])}>
              <%= user.name %>
            </span>
            <%= if is_current do %>
              <span>(Me)</span>
            <% end %>
          </p>
          <p>ID: <%= user.id%></p>
        </li>
      <% end %>
    <% else %>
      <li>No players</li>
    <% end %>
    </ul>
  </div>
</section>

<section id="game_code">
  <h3>Game Code</h3>
  <span>{@game_id}</span>
  <button>Copy Link</button>
</section>

<section id="bowl">
  <h2>Items</h2>
</section>

<nav id="actions">
  <form>
    <label for="player_name">Enter your name</label>
    <input id="player_name" type="text" />
    <button>Submit</button>
  </form>

  <button>Start Game</button>
</nav>
