<.flash_group flash={@flash} />
<h1>Personal Preferences</h1>
<nav>
  <ul>
    <li>
      {live_render(@conn, HelloExWeb.NewGameLive)}
    </li>
    <li>
      <form>
        <label for="join-code">code</label>
        <input id="join-code" type="text" />
        <button>Join</button>
      </form>
    </li>
    <li>
      <button>What is this?</button>
    </li>
  </ul>
</nav>
